.page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* чтобы уезжающее вправо меню не создавало скрола горизонтального */
    overflow: hidden; 
}
