/* медиа запрос у nav */
@media screen and (min-width: 768px) {
  .header__menu {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .header__menu {
      display: block;
      position: absolute;
      top: 40px;
      right: -200px;
      background-color: pink;
  }
}

