.header__checkbox {
  position: absolute;
  width: 1px; /* если у элемента не будет размеров, некоторые браузеры посчитают, что его вообще нет */
  height: 1px;
  overflow: hidden; /* без этого свойства тоже сработает, но так наверняка. Скрывает элементы, выходящие за границы родителя */
  clip: rect(0 0 0 0);

}

@media screen and (max-width: 767px) {
  .header__checkbox:checked + .header__items {
    transition: transform 0.4s ease-out;
    transform: translate(0px, 0);
  }
  
  .header__checkbox:not(:checked) + .header__items {
    /* нельзя здесь делать transition
    иначе он срабатывает при обновлении страницы */
    transform: translate(251px, 0);
  }
}

