.header__checkbox {
  position: absolute;
  width: 1px; /* если у элемента не будет размеров, некоторые браузеры посчитают, что его вообще нет */
  height: 1px;
  overflow: hidden; /* без этого свойства тоже сработает, но так наверняка. Скрывает элементы, выходящие за границы родителя */
  clip: rect(0 0 0 0);
}

.header__checkbox:checked + .header__menu {
  display: block;
}