.place__text-wrap {
    margin-left: 70px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .place__text-wrap {
        display: block;
        order: 0;
        margin-left: 10px;
    }
}