.lead {
    max-width: 1140px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    height: 355px;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

@media screen and (max-width: 1023px) {
    .lead {
        flex-wrap: wrap;
        height: fit-content;
    }
}