.title-wrap__text {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    font-size: 32px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 120%;
}

@media screen and (max-width: 1023px) {
    .title-wrap__text {
        font-size: 30px;
    }
}