.header {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
  max-width: 1145px;
  width: 100%;
}

@media screen and (max-width: 1279px) {
    .header {
        width: 95%;
    }
}

@media screen and (max-width: 767px) {
  .header {
    width: 100%;
    min-height: 48px;
    position: fixed;
    background-color: rgba(254, 205, 167, 0.8);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
