.place__paragraph {
    margin: 0;
    padding-top: 20px;
    max-width: 380px;

    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 160%;
}
.place__paragraph:first-child {
    padding-top: 0;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        padding-top: 20px;
        max-width: 80%;
    }
}