.header__checkbox-label {
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  position: relative;
  display: inline-block;
  cursor: pointer;

  /* чтобы кнопка текст кнопки не выделялся при нажатии на неё */
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@media screen and (min-width: 768px) {
  .header__checkbox-label {
      display: none;
  }
}

/* чтобы кнопка текст кнопки не выделялся при нажатии на неё */
.header__checkbox-label::selection {
  background: transparent;
}

.header__checkbox-label:hover {
  color: #383841;
  text-shadow: -3px -3px 10px #fecda7;
}

