.header__checkbox-label {
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  position: relative;
  display: inline-block;
  cursor: pointer;

  /* чтобы текст кнопки не выделялся при нажатии на неё */
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

@media screen and (min-width: 768px) {
  .header__checkbox-label {
      display: none;
  }
}

.header__checkbox-label:hover {
  color: #383841;
  text-shadow: -3px -3px 10px #fecda7;

  transition: opacity 0.2s ease;
  opacity: 0.8;
}

