.place__img_forest {
    background-image: url(../../../../images/places-forest.jpg);
}

@media screen and (max-width: 768px) {
    .place__img_forest {
    background-image: url(../../../../images/places-forest-768.jpg);
    }
}


@media screen and (max-width: 350px) {
    .place__img_forest {
    background-image: url(../../../../images/places-forest-350.jpg);
    }
}