.people {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 135px 0 145px;
}

@media screen and (max-width: 1023px) {
    .people {
        width: 95%;
    }
}
@media screen and (max-width: 767px) {
    .people {
        padding: 110px 0 110px;
    }
}