.footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fecda7;
  width: 100%;
  max-width: 1280px;
  min-height: 620px;

  display: flex;
  justify-content: center;
  align-items: center;
}
