.header__items {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 0fr 0fr 1fr 4fr;
    width: 100%;
    list-style-type: none;
}

@media screen and (max-width: 767px) {
    .header__items {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: #fecda7;
        border-radius: 15px 0 0 15px;
    }
}


