.header__item {
    padding-left: 36px;
}
.header__item:first-child {
    padding-left: 0;
}
.header__item:last-child {
    text-align: end;
    padding-left: 0;
}

@media screen and (max-width: 767px) {
    .header__item {
        padding-right: 25px;
        padding-left: 20px;
    }

    .header__item:last-child {
        padding-top: 15px;
        /* интересный момент, если не задать отступ слева,
        то у last-child останется отступ 0px.
        Хотя козалось бы, что общее правило для header__item должно отступ всем элементам задать. */
        padding-left: 20px; 
    }
}